.dashboard #page-header {
    background:#4c3b2f url(../images/skin/bg_getinvolved.jpg) center center no-repeat;
    padding-bottom: 18px;
    color: white;
}

.dashboard #page-header a {
    color: white;
}

.dashboard #page-header button {
    margin-right: 20px;
}

.dashboard {
    background-color: #757042;
}

/* errors */
.error {
    color: red;
}
/* ... */

h3 {
    color: #3A5C83;
}

/* override the fixed menu width in sf */
nav#nav-site {
    width: auto;
}

/* override the fixed position of the nav-search section */
body.fluid header#site-header section#nav-search {
    float: right;
    width: auto;
}

.link {
    color: #3A5C83;
    cursor: pointer;
    /*text-decoration: underline;*/
}

#floatContainer {
    margin-bottom: 20px;
}

div.link-group {
    min-width: 220px;
    min-height: 220px;
    border: 3px solid #ccc;
    -moz-border-radius: 20px; /* FF1+ */
    -webkit-border-radius: 20px; /* Saf3+, Chrome */
    border-radius: 20px; /* Opera 10.5, IE 9 */
    -icab-border-radius: 20px;
    -khtml-border-radius: 20px;
    padding: 10px 5px 2px 10px;
    background-color: white;
    float: left;
    margin: 20px 0 0 20px;
    position: relative;
}

div.link-group-highlight {
    background-color: #e3ffe3;
    border-color: #008800;
    border-width: 4px;
    padding:  9px;
}

.link-group h2 {
    font-size: 2em;
}

.link-group h2 span.count {
    font-size: 1.3em;
    color: #666;
    vertical-align: -9%;
}

/*.link-group a {
    color: #666 !important;
    font-family: "Helvetica Neue";
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    margin: 0;
}*/

.link-group p {
    font-size: 14px;
    padding-bottom: 4px;
}

.link-group a {
    text-decoration: none;
    color: #333a3f;
}

.link-group a:hover {
    color: #3A5C83;
}

span.count {
    font-weight: bold;
    float: right;
    margin-left: 2px;
    margin-right: 4px;
}

h2 span.count {
    margin-right: 30px;
}

p.mainText {
    margin: 0 0 0 10px;
    padding: 0;
}

.link-group hr {
    background-color: transparent;
    border-width: 1px 0 0 0;
    border-top-color: #f8f8f8;
}

/***********************************
 Specific topics
 **********************************/
#basis-topic table {
    margin-top: -3px;
}

#datasets-topic {
    width: 220px;
}

#datasets-topic table {
    margin-top: 10px;
}

#datasets-topic p {
    margin-top: 10px;
}

#date-topic table {
    margin-top: 2px;
}

#nsl-topic table {
    margin-top: 30px;
}

#spatial-topic table, #typeStatus-topic table {
    margin-top: 8px;
}

#typeStatus-topic h2 span.count {
    font-size: 1em;
    margin-right: 5px;
}

#most-topic table {
    margin-top: 5px;
}

#bhl-topic table {
    margin-top: 10px;
}

#bvp-topic table {
    margin-top: 20px;
}

#stateChart {
    margin: 0 -5px -3px -10px;
}

#collectionsByCategory {
    margin: -5px -5px -8px -10px;
    padding-left: 20px;
}

#collections-topic h2 {
    padding-bottom: 4px;
}

#most-topic select {
    margin-top: 7px;
    margin-bottom: 12px;
}

#nsl-topic table, #bold-topic table {
    font-size: 1.2em;
}

#identifyLife-topic p {
    font-size: 1.4em;
}

#identifyLife-topic .count {
    color: #666;
    font-family:"Arial Narrow", Arial, Helvetica,sans-serif;
    font-size: 2.6em;
    padding: 50px 20px 0 0;
}

#identifyLife-topic img {
    padding: 0;
}

#bold-topic table {
    margin-top: 10px;
}

#bold-topic img {
    vertical-align: middle;
}

#bold-topic h3 {
    margin-top: -6px;;
}

/***********************************
 Info buttons
 **********************************/
.info-link {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.info {
    display: none;
    max-width: 400px;
    padding-top: 20px;
}

/***********************************
 Taxonomy tree
 **********************************/

#tree {
    /*margin-top: 20px;*/
}

#vakata-contextmenu {
    text-align: left;
    background-color: white !important;
}

#taxonTreeHead {
    height: 55px;
}

#taxonTreeHead p a {
    padding-left: 10px;
}

#taxonTreeHead p {
    padding: 10px;
}

#treeContainer {
    margin: 5px 0 20px 0;
    width: 500px;
    height: 125px;
    border: 1px solid #ddd;
}

#taxaTree {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/***********************************
 Tables
 **********************************/
.link-group table {
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: -5px;
    width: 100%;
}

#nsl-topic tbody:nth-child(2) {
    border-top: 20px solid transparent;
}

.link-group tr:nth-child(odd) {
    background-color: #fafafa;
}

.link-group td {
    padding: 0 3px 0 0;
    border: 1px solid #eee;
}

.link-group tr td:nth-child(even) {
    font-weight: bold;
    text-align: right;
}

.link-group tr td:nth-child(3n+0) {
    padding-left: 10px;
}

.click-thru td:nth-child(odd):hover {
    background-color: #e7e9f9;
    cursor: pointer;
}
