/******************************************************
 IE7 support - no min-width so set some explicit widths
 ******************************************************/
.link-group {
    width: 220px;
}

#state-topic {
    width: 345px;
}

#most-topic {
    width: 384px;
}

#lifeform-topic {
    width: 329px;
}

#decade-topic {
    width: 400px;
}

#tree-topic {
    width: 502px;
}

#collections-topic, #state-topic, #identifyLife-topic {
    height: 220px;
}

#identifyLife-topic .count {
    padding: 0 20px 0 0;
    margin-top: -80px;
}
